html,
body {
  height: 100%;
}

body {
  text-align: left;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}

form {
  text-align: left;
  height: 100%;
}

.container {
  padding: 10px;
}

.text_bottom {
  bottom: 0;
}
